# Flask e extensões
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0

# Bibliotecas de API e Serviços
firebase-admin==6.5.0
mercadopago==2.3.0
requests==2.32.3

# Utilitários
python-dotenv==1.0.1
Werkzeug==3.0.3
